@model List<TrakNusLemburProj.Models.DataLembur>

@{
    ViewData["Title"] = "Data Lembur";
}

<h1>Data Karyawan</h1>

<table class="table">
    <thead>
        <tr>
            <th>NRP</th>
            <th>Name</th>
            <th>Divisi</th>
            <th>Department</th>
            <th>TglLembur</th>
            <th>MulaiLembur</th>
            <th>AkhirLembur</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var karyawan in Model)
        {
            <tr>
                <td>@karyawan.NRP</td>
                <td>@karyawan.Name</td>
                <td>@karyawan.Divisi</td>
                <td>@karyawan.Department</td>
                <td>@karyawan.TglLembur</td>
                <td>@karyawan.MulaiLembur</td>
                <td>@karyawan.AkhirLembur</td>
            </tr>
        }
    </tbody>
</table>
