@model IEnumerable<TrakNusLemburProj.Models.ViewModels.LemburReportViewModel>

<a href="@Url.Action("ExportToPDF", "Lembur")" class="btn btn-primary">Download PDF</a>
<a href="@Url.Action("ExportToExcel", "Lembur")" class="btn btn-primary">Download Excel</a>

<h2>Laporan Jam Lembur Karyawan</h2>

@if (Model != null && Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>NRP</th>
                <th>Nama Karyawan</th>
                <th>Divisi</th>
                <th>Department</th>
                <th>Total Jam Lembur</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.NRP</td>
                    <td>@item.Name</td>
                    <td>@item.Divisi</td>
                    <td>@item.Department</td>
                    <td>@item.TotalJamLembur</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Tidak ada data yang tersedia.</p>
}
